# Environment Variables
.env
*.env
.env.local

# Node.js / Next.js
node_modules/
.next/
out/
build/

# Go Binaries
main
*.exe
*.out

# RSA Keys & Certs (Sabse Important!)
services/hyper-id/certs/private.pem

# OS Files
.DS_Store
Thumbs.db

# Docker volumes / Data (Agar local directory map ki hai)
pgdata/
typesense_data/
qdrant_data/

# Ignore Kubernetes tools & Binaries
kubectl
minikube-linux-amd64